{% extends "basic.html" %}

{% block title %}首页{% endblock %}

{% block head %}
{{ super() }}
<!-- 第三方插件 -->
<link href={{ url_for('static',filename="css/plugins/footable/footable.core.css") }} rel="stylesheet">
{% endblock %}

{% block content %}
<body class="gray-bg">
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>科技情报挖掘-<strong>标签自动生成</strong></h2>
        <ol class="breadcrumb">
            <li>
                <a href="../index.html">主页</a>
            </li>
            <li>
                <strong>标签自动生成</strong>
            </li>
        </ol>
    </div>
    <div class="col-sm-8">
        <div class="title-action">
            <a href="../main/main.html" class="btn btn-primary">打开主页</a>
        </div>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>文件上传</h5>
                </div>
                <div class="ibox-content">
                    <div class="page-container">
                        <span class="btn btn-success fileinput-button">
                                <i class="glyphicon glyphicon-plus"></i>
                                <span>选择文件</span>
                                <input type="file" name="myfile">
                        </span>
                        <button onclick="upload_file();" id="btn_upload" class="btn btn-primary btn-sm ">
                            <i class="glyphicon glyphicon-upload"></i>
                            <span>上传</span>
                        </button>
                        <span>&nbsp;&nbsp;目前仅支持文件类型：<strong>txt，csv</strong>&nbsp;&nbsp;</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>输入数据</h5>
                </div>
                <div class="ibox-content">
                    <div class="page-container">
                        <div class="form-group">
                            <label for="title" class="sr-only">word2</label>
                            <input placeholder="请输入新闻标题" id="title" class="form-control">
                        </div>
                        <textarea id="input_area" class="form-control" placeholder="输入新闻正文......"
                                  style="margin: 0px -2px 0px 0px;height: 150px;resize: none"></textarea>

                        <div class="hr-line-dashed"></div>
                    </div>
                    <a onclick="process();" style="margin-right: 20px;" class="btn btn-primary pull-right">开始处理</a>
                    <p>&nbsp;</p>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div id="myloading" hidden class="wrapper wrapper-content animated fadeIn">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <h3 style="color: #7266ba">
                        正在处理,请稍后......
                    </h3>
                    <div class="page-container">
                        <center><img src={{url_for('static',filename="img/loading.svg")}}/></center>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>输出结果</h5>
                </div>
                <div class="ibox-content">
                    <div class="page-container">
                        <textarea id="output_area" class="form-control"
                                  style="margin: 0px -2px 0px 0px;height: 150px;resize: none"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
{% endblock %}
{% block footer %}
{{ super() }}


<!--数据下载-->
<script src={{ url_for('static',filename="js/plugins/footable/footable.all.min.js") }}></script>

<script >
var input_type = 0 //0: textarea,1:file

window.onload = function () {
    $('.footable').footable();
}

function upload_file() {
    var files = $('input[name="myfile"]').prop('files');//获取到文件列表
    var file = files[0];
    if (file == undefined) {
        swal({
            title: "提示信息",
            type: "warning",
            showCancelButton: false,
            confirmButtonColor: '#DD6B55',
            text: "第一步：先选择一个文本文件！"
        });
    }
    else {
        var form = new FormData();
        form.append('myfile', file);
        $.ajax({
            url: "/BITIE/upload",
            type: "post",
            data: form,
            timeout: 30000,//10s
            cache: false,
            processData: false,
            contentType: false,
            success: function (data) {
                upload_callback(data);
            },
            error: function (XMLHttpRequest, status) { //求完成后最终执行参数
                swal({
                    title: "错误信息",
                    type: "error",
                    showCancelButton: false,
                    confirmButtonColor: '#DD6B55',
                    text: "status:" + XMLHttpRequest.status + " textinfo:" + status
                });
                $("#myloading").hide();
            }
        });
    }
}

function upload_callback(data) {
    if (data['status']) {
        swal({
            title: "上传成功",
            type: "success",
            showCancelButton: false,
            showConfirmButton: false,
            timer: 900
        })
        //阻塞，同步
        setTimeout(function () {
            //控制前台展示的文本数量
            if (data['text'].length > 1000) {
                show_text = data['text'].slice(0, 1000)
                show_text += "\n......未完全显示......"
            } else {
                show_text = data['text']
            }
            $('#input_area').val(show_text);
        }, 1000);
        input_type = 1;

    } else {
        swal({
            title: "错误信息",
            type: "error",
            showCancelButton: false,
            confirmButtonColor: '#DD6B55',
            text: data['desc']
        });
    }
}

function process() {
    $('#mytbody').html('');
    var text = $('#input_area').val();
    var title = $('#title').val();


    if ((title == '')||(text == "" && input_type=='0')) {
        swal({
            title: "提示信息",
            type: "warning",
            showCancelButton: false,
            confirmButtonColor: '#DD6B55',
            text: "请上传文件或输入数据！"
        });
    } else {
        var form = new FormData();
        if(input_type=='0')
            form.append("text", text)//输入
        else
            form.append("text", '')//导入
        form.append("title", title)
        form.append("input_type", input_type)

        $.ajax({
            url: "/BITIE/tag_auto_generating",
            type: "post",
            data: form,
            timeout: 50000,//50s
            cache: false,
            processData: false,
            contentType: false,
            beforeSend: function () {
                $("#myloading").show();
            },
            success: function (data) {
                $("#myloading").hide();
                process_callback(data);
            },
            error: function (XMLHttpRequest, status) { //求完成后最终执行参数
                $("#myloading").hide();
                swal({
                    title: "错误信息",
                    type: "error",
                    showCancelButton: false,
                    confirmButtonColor: '#DD6B55',
                    text: "status:" + XMLHttpRequest.status + " textinfo:" + status
                });
            }
        });
    }
}

function process_callback(data) {
    var status = data['status']
    result = data['result']
    if (status) {
        input_type = 0;
        $('#title').val('');
        $('#input_area').val('');
        $('#output_area').val(data);
    } else {
        swal({
            title: "错误信息",
            type: "error",
            showCancelButton: false,
            confirmButtonColor: '#DD6B55',
            text: '不好意思，服务器出故障了！'
        });
    }
}

</script>
{% endblock %}